<%= form_with model: @profile do |f| %>
  <%= render 'shared/error_message', object: f.object %>
  <div class="mb-4">
    <%= image_tag @profile.avatar_url, class: "rounded-xl grid grid-cols-2 place-content-center" if @profile.avatar_url.present? %>
    <%= f.label :avatar, class: "label" %>
    <%= f.file_field :avatar, class: "file-input file-input-bordered w-full" %>
    <%= f.hidden_field :avatar_cache %>
  </div>
  <div class="mb-4">
    <%= f.label :name, class: "label" %>
    <%= f.text_field :name, class: "input input-bordered w-full" %>
  </div>
  <div class="mb-10">
    <%= f.label :relationship, class: "label" %>
    <%= f.select :relationship, Profile.relationships.map { |k, v| [I18n.t("enums.profile.relationship.#{k}"), k] }, { include_blank: "指定なし" }, class: "select select-bordered w-full" %>
  </div>
  <div class="m-2">
    <div class="text-center">
      <%= f.submit "登録", class: "btn btn-primary w-full" %>
    </div>
  </div>
<% end %>


