<%= form_with model: @child do |f| %>
  <div class="mb-4">
    <%= f.label :avatar_image, class: "label" %>
    <%= f.file_field :avatar_image, class: "file-input file-input-bordered w-full" %>
    <%= f.hidden_field :avatar_image_cache %>
  </div>
  <div class="mb-4">
    <%= f.label :name, class: "label" %>
    <%= f.text_field :name, class: "input input-bordered w-full" %>
  </div>
  <div class="mb-10">
    <%= f.label :birthday, class: "label" %>
    <%= f.date_field :birthday, class: "input input-bordered w-full" %>
  </div>
  <div class="m-2">
    <div class="text-center">
      <%= f.submit "登録", class: "btn btn-primary w-full" %>
    </div>
  </div>
<% end %>