<div class="flex w-full flex-col">

  <%# アプリ説明欄 %>
  <div class="m-4">
    <p>本アプリについて</p>
    <%= link_to root_path, class: "bg-base-200 rounded-box grid h-16 place-items-center my-2" do %>
      <div class="flex items-center gap-3">
        <p>TOP画面へ</p>
      </div>
    <% end %>
    <%= link_to root_path, class: "bg-base-200 rounded-box grid h-16 place-items-center my-2" do %>
      <div class="flex items-center gap-3">
        <p>アプリの説明</p>
      </div>
    <% end %>
  </div>

  <%# お子さま欄 %>
  <div class="m-4">
    <p>その他</p>
    <%= link_to root_path, class: "bg-base-200 rounded-box grid h-16 place-items-center my-2" do %>
      <div class="flex items-center gap-3">
        <p>利用規約</p>
      </div>
    <% end %>
    <%= link_to root_path, class: "bg-base-200 rounded-box grid h-16 place-items-center my-2" do %>
      <div class="flex items-center gap-3">
        <p>プライバシーポリシー</p>
      </div>
    <% end %>
    <%= link_to root_path, class: "bg-base-200 rounded-box grid h-16 place-items-center my-2" do %>
      <div class="flex items-center gap-3">
        <p>お問い合わせ</p>
      </div>
    <% end %>
  </div>

</div>

