<div class="flex flex-col items-center justify-center min-h-screen bg-gray-100">
  <div class="bg-white p-6 rounded-lg shadow-lg w-full max-w-md">
    <h1 class="text-2xl font-bold text-center mb-4">ユーザー登録</h1>
    <%= form_with model: @user do |f| %>
      <div class="mb-4">
        <%= f.label :email, class: "label" %>
        <%= f.email_field :email, class: "input input-bordered w-full" %>
      </div>
      <div class="mb-4">
        <%= f.label :password, class: "label" %>
        <%= f.password_field :password, class: "input input-bordered w-full" %>
      </div>
      <div class="mb-10">
        <%= f.label :password_confirmation, class: "label" %>
        <%= f.password_field :password_confirmation, class: "input input-bordered w-full" %>
      </div>
      <div class="m-2">
        <div class="text-center">
          <%= f.submit "登録", class: "btn btn-primary w-full" %>
        </div>
      </div>
    <% end %>
  </div>
</div>